:root {
    --main-color: rgb(255, 219, 88);
    --odd-line-color: #ffe78f;
    --even-line-color: #fff3c9;
}

/* * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    list-style: none;
    border-collapse: separate;
    border-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*:focus {
    outline: none
} */

html {
    /* background: var(--main-color); */
}

body {
    max-width: 700px;
    background: rgb(255, 255, 255);
    color: rgb(30, 30, 30);
    /* font-family: "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial; */
    overflow-x: hidden;
    padding: 15px 30px
}

body hr {
    border: 0;
    clear: both;
}

body header a#logo img {
    width: 15%
}

body main>pre {
    /* background-color: rgb(240, 240, 240); */
    font-family: "Inconsolata-Regular", "Helvetica Neue", Helvetica, Arial;
    color: rgb(44, 43, 43);
    max-width: 700px;
    padding: 30px;
    margin-top: 0;
    padding-top: 0;
    font-size: 13px;
    white-space: pre-wrap;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
    background-color: var(--main-color);
}

a:active {
    color: black;
}

.embed-container {
    position: relative;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    padding-bottom: 56.25%;
    background-color: rgb(163, 163, 163);
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

canvas#glcanvas {
    width: 100%;
    height: 100%;
    aspect-ratio: 7/5;
    overflow: hidden;
    background: black;
    z-index: 0;
}

@media (max-width: 700px) {
    body {
        padding: 30px;
    }

    body main>ul.jump {
        columns: 1 !important
    }
}

ol.linenums {
    font-family: "Inconsolata-Regular", "Helvetica Neue", Helvetica, Arial;
    margin-top: 0;
    margin-bottom: 0
}

.prettyprint ol.linenums>li {
    font-family: "Inconsolata-Regular", "Helvetica Neue", Helvetica, Arial;
    list-style-type: decimal;
}

/* Alternate shading for lines */
li.L0,
li.L2,
li.L4,
li.L6,
li.L8 {
    background: var(--even-line-color)
}

li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
    background: var(--odd-line-color)
}

sup {
    font-size: x-small;
    vertical-align: super;
}